* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    color: #333;
}

.header {
    background-color: black;
    color: rgb(146, 146, 146);
    padding: 20px 50px 20px;
    text-align: left;
}
#h1ToDo{
    font-weight:100;
}
.container {
    max-width: 500px;
    margin: 2rem auto;
    background-color: transparent;
    padding: 1.5rem;
    border-radius: 8px;
}

.todo-form {
    margin-bottom: 1.5rem;
    width:420px;
    text-align:left;
    font-size:2rem;
}

.todo-form label {
    display: block;
    margin-bottom: 1rem;
    font-weight: none;
}

.input-group {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-left:30px;
}

.input-group input {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
}

.input-group button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.todo-list {
    list-style: none;
    width:500px;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.todo-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.todo-text.done {
    text-decoration: line-through;
    color: #888;
}

.delete-btn {
    background-color: #ef4444;
    color: white;
    border: none;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    border-radius: 4px;
}
.btnadd {
    background-color:rgba(5, 95, 197, 0.904);
    border:none;
    border-radius:4px;
    color:white;
}