        a {
            text-decoration: none;
        }
        body {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
            line-height: 1.34;
            background: #f0f2f5;
            color: #1c1e21;
            direction: ltr;
            line-height: 1.34;
            margin: 0;
            padding: 0;
            unicode-bidi: embed;
        }
        h2 {
            display: block;
            font-size: 1.5em;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            unicode-bidi: isolate;
        }
        div {
            display: block;
            unicode-bidi: isolate;
        }
        img {
            overflow-clip-margin: content-box;
            overflow: clip;
        }
        .fb_logo {
            display: inline;

            width: 320px;
            height: 106px;

            margin: 28px;
            margin-bottom: -28px;

        }
        .fb_logou {
            height: 106px;
            margin: -28px;
            display: block;
            
        }
        .fb_title {
            font-size: 24px;
            line-height: 28px;

            color: rgb(28, 30, 33);
            font-weight: 400;

            padding-bottom: 20px;
            width: auto;
            letter-spacing: normal;
            display: inline-block;
            font-family: 'Inter', Arial, sans-serif;
            padding: 0 0 20px;
            margin: 0;
        }
        .fblogo2 {
            padding: 112px 0 16px;

        }
        .fblogo {
            box-sizing: border-box;
            margin-right: 0;
            padding-right: 32px;
            width: 500px;

            vertical-align: center;
            display: inline-block;
        }
        .fbbox {
            height: 496px;
            margin: 0 auto;
            max-width: 980px;

            padding: 20px 0;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-top: 72px;

        }
       .inputtext_0_1, .inputtext_0_2 {
            font-size: 17px;
            width: 364px;

            box-sizing: border-box;
            border-radius: 6px;
            padding: 14px 16px;
            height: 52px;
            line-height: 17px;
            
            border: 1px solid #dddfe2;
            margin: 0;
            vertical-align: middle;
       }
         .email, .password {
            padding: 6px 0;
            margin: auto;
            font-size: 17px;
            width: 364px;
         }
         .fb_form {
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            margin-left: 0;
            padding-left: 32px;
            width: 396px;
         }
         .fb_form2 {
            text-align: center;
            padding-bottom: 24px;
            padding-top: 10px;
            height: 456px;
            width: 396px;
        }
        .fb_form3 {
            box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
            box-sizing: border-box;
            margin: 40px 0 0;
            padding: 20px 0 28px;
            width: 396px;
            background-color: #fff;
            border-radius: 8px;
        }
        .fblog112 {
            background-color: #1877f2;
            border: none;
            border-radius: 6px;

            font-size: 20px;
            font-weight: 700;
            line-height: 48px;

            height: 48px;
            width: 364px;

            padding: 0 16px;
            margin: 6px 0;

            color: #fff;
            cursor: pointer;

            box-sizing: border-box;
        }
        .fblog112:hover {
            background-color: #166fe5;
        }
        .fblog112:active {
            background-color: #154ec1;
        }

        .login {
            padding: 12px 0 2px;
        }
        .forgotten_password {
            font-size: 14px;
            padding: 12px 0 16px;
        }
        #fbline {
            border-top: 1px solid #dadde1;
            margin: 16px auto;
            width: 280px;
        }
        .create_new_acc a {
            display: inline-block;
            background-color: #42b72a;
            color: #fff;
            padding: 0 16px;
            line-height: 48px;
            border-radius: 6px;
            font-size: 17px;
            font-weight: 700;
        }

        #reg_page_msg {
            margin-top: 28px;
            text-align: center;
            font-size: 14px;
            color: #1c1e21;
        }

        #reg_page_msg a {
            color: #1c1e21;
            font-weight: 600;
            text-decoration: none;
        }

        #reg_page_msg a:hover {
            text-decoration: underline;
        }

        .forgotten_password a {
            color: #1877f2;
        }
        .forgotten_password a:hover {
            text-decoration: underline;
        }

        .inputtext_0_1:focus,
        .inputtext_0_2:focus {
            outline: none;
            border-color: #1877f2;
            box-shadow: 0 0 0 2px #e7f3ff;
        }

        .fblog112:focus {
            outline: none;
            box-shadow: 0 0 0 2px #e7f3ff;
        }